[v-cloak] {
    display: none
}

body{
    background-color:beige;
    text-align: center;
}
h1 {
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(255, 145, 0);
}

label {
    color:rgb(255, 145, 0);
}

.selections{
    width:10%;
    text-align:left;
    margin-left: 45%;
}

.player_wins {
    background-color: green;
    color:white;
}

.player_ties {
    background-color: orange;
    color:black;
}

.player_loses {
    background-color: red;
    color:white;
}

.roundResults{
    width:20%;
    text-align:left;
    margin-left: 40%;
}

#winner {
    font-weight: bolder;
}
#scores {
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkblue;
}

footer { 
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%;
}

