<!doctype html>
<html lang ='en'>
<head>
    <title>E28 Project1: Game</title>
    <header>
        <link rel="stylesheet" href="index.css">
        <!-- development version of Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
        <!--<script src="vue.js"> </script>-->
        <script src='script.js' defer></script>
    </header>
</head>
<body>
    <h1>Rock, Paper, Scissors!</h1>
    <div id='app' v-cloak>
        <div v-if='!startGame'>
            <label>Enter your name: 
                <input type='text' v-model='playerName'>
            </label>      
            <button v-on:click='startGame = true'>Start</button> 
            <!--Todo: handle empty field--> 
        </div>

        <div v-if='startGame'>
            <p>Ok, {{ playerName }} - Select one of the options below and click on [Let's Go]:</p>
            <p>
                <input type='radio' id='selection' value='Rock' name="selection" v-model='playerSelection'>
                <label for='rock'>Rock</label><br>
                <input type='radio' id='selection' value='Paper' name="selection" v-model='playerSelection'>
                <label for='paper'>Paper</label><br>
                <input type='radio' id='selection' value='Scissors' name="selection" v-model='playerSelection'>
                <label for='scissors'>Scissors</label>
            </p>
            
            <!--https://www.w3schools.com/tags/tag_button.asp-->
            <button v-on:click="letsGo">Let's Go!</button>
        
            <div v-if='playerSelection && compScore'>
                <!--Todo: handle player seleciton being updated before button press-->
                <p>{{ playerName }} selected: {{ playerSelection }}; computer selected: {{ compSelection}}</p>
                <p>{{ winnerTxt }}</p>
                <p>{{ playerName }}'s Score: {{ playerScore }} / Computer Score: {{ compScore }}</p>
            </div>
        </div>
    </div>
</body>
</html>